<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col d-flex flex-column h-100 justify-content-center align-items-center p-5">
            <img class="logo" src="../../../../assets/img/logo-red.png" alt="logo">
            <router-outlet></router-outlet>
        </div>
        <div class="col-8 p-0 h-100">
            <div class="right-container w-100 h-100">
                <div class="p-5">
                    <div class="welcome-message">
                        <h1>Seja bem vindo!</h1>
                        <h5>Entre para acessar sua conta.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>